<!DOCTYPE html>
<html amp lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ReactsJS into Symfony !{% endblock %}</title>
        <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
        <meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
              "logo.jpg"
            ]
          }
        </script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {% block stylesheets %}
            <link href="{{ asset('prod/app/app.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('contact') }}">Labs</a></li>
                <li><a href="{{ path('contact') }}">Forums</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
        <footer id="footer"></footer>
        {% block javascripts %}
            <!-- Dependencies -->
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>

            <!-- Global JS -->
            <script src="{{ asset('js/app/app.js') }}"></script>
            <script src="{{ asset('js/app/request.js') }}"></script>

            <!-- ReactJS -->
            <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
            <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>

            <!-- Local ReactJS -->
            <script src="{{ asset('prod/app/index.js') }}"></script>
        {% endblock %}
    </body>
</html>
