<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ReactsJS into Symfony !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="header"></header>
        {% block body %}{% endblock %}
        <footer id="footer"></footer>
        {% block javascripts %}
            <script src="{{ asset('js/React/react.min.js') }}"></script>
            <script src="{{ asset('js/React/react-dom.min.js') }}"></script>
            <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>

            <!-- ReactJS -->
            <script src="{{ asset('js/Composants/header.react.js') }}" type="text/babel"></script>
            <script src="{{ asset('js/Composants/footer.react.js') }}" type="text/babel"></script>
        {% endblock %}
    </body>
</html>
